@keyframes shake {
    0% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(0px, 25%);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }



.homeContainer{
    display: flex;
    flex-direction: column;
}

.heroImg{
    background-image: url("https://jetcars.co.nz/common/img/mustang_PNG19.png");
    height: 65vh;
    background-size:cover ;
    background-position:center ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.heroImg h1{
    animation: shake 1.3s;
    animation-iteration-count: infinite;
}

.burnBtn{
    background-color: silver;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 16px;
    padding: 0.5rem;
    cursor: pointer;
    transition: 500ms;
    width: 15%;
}

.burnBtn:hover{
    background-color: white;
    border-color: black;

}

.testiContainer{
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.testiSection h1{
  display: flex;
  justify-content: center;
  margin: 75px auto;
}

.testimonials-item{
  display: flex;
  justify-content: center;
}

.testimonials-item img{
width: 50%;
border-radius: 4em;
}

.testimonials{
  width: 90%;
  margin: 0 auto;
}

.testimonials-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  text-align: center;
}

.testimonials-info h6{
  font-size:1.5em;
  margin-top: -5px
}

.testimonials-body{
  margin: 0 auto;

}
.featuredCont{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.fCardscont{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  margin-left: 3%;
}

.featuredCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.fCardContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.fCardImg img{
  display: flex;
  width: 100%;
}

.fCardTexs{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.explore{
  display: flex;
  justify-content: center;
  width: 100%;
}

@media only screen and (max-width:714px){
  .testiContainer{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
  }
  .fCardscont{
    grid-template-columns: 1fr;
    margin:0 auto;
  }

  .heroImg .burnBtn{
    width: 40%;
  }

  .explore .burnBtn{
    width: 40%;
  }
}
